*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}